body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  background : lightblue;
}

#title{
    text-align: center;
}

svg{
  border: 2px solid black;
  background: white;  
}

rect{
    fill: blue;
  
  }

rect:hover{
    fill: white;
  }

#tooltip{
  background: #aeaeae;
  width: 150px;
  height: 60px;
  position:absolute;
  top: 350px;
  left: 250px;
  display: none;
  flex-direction: vertical;
  align-items: center;
  justify-content:center;
  text-align: center;
}

#tooltip.show{
  display: flex;
}